* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Mobile-first CSS  */
/* This applies from 0px to 640px */

body {
  min-height: 100vh;
  background-image: url(/assets/images/stars-galaxy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding-top: 0.7rem;
  max-width: 1200px;
  height: 43px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.219);
}

#logo {
  height: 3rem;
  width: 7rem;
}

/* Start of Price slider in header */
.slider {
  position: relative;
  margin-top: 0.2rem;
  width: 1140px;
  height: 25px;
  overflow: hidden;
  color: white;
}

.slider .slide-track {
  /* The width will depend on how many coins we got */
  width: calc(250px * 9);
  display: flex;
  animation: scroll 70s linear infinite;
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  display: flex;
  width: 250px;
}

.coin-logo,
#price-currency-logo,
#marketcap-currency-logo {
  margin-right: 0.3rem;
  height: 20px;
  width: 20px;
}

.coin-symbol {
  margin-right: 0.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(400px));
  }
  100% {
    /* The translateX will depend on how many coins we got */
    transform: translateX(calc(-250px * 9));
  }
}
/* End of price slider */

.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btc-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

#btc-price {
  margin-top: 0.6rem;
  font-size: 2rem;
}

hr {
  margin: 10px 0px 10px 0px;
  border: rgba(255, 255, 255, 0.198) solid 0.1px;
}

.calculator {
  max-width: 1200px;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  margin: 1rem 0rem 1rem 0rem;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
}

.current-stats {
  position: relative;
  padding-left: 40%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 18px;
  background-color: white;
}

.select-price-modal,
.select-marketcap-modal {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  padding: 1rem;
  max-height: 200px;
  width: 98%;
  display: flex;
  flex-direction: column;
  background-color: #000000ea;
  border-radius: 16px;
  overflow-y: scroll;
  z-index: 2;
  animation: 1s expand forwards;
}

.exit-price-btn,
.exit-marketcap-btn {
  z-index: 3;
  cursor: pointer;
  position: sticky;
  top: 0;
  color: rgb(255, 43, 43);
  align-self: flex-end;
  float: right;
}

@keyframes expand {
  0% {
    width: 100px;
    height: 34px;
  }
  50% {
    width: 98%;
    height: 34px;
  }
  100% {
    width: 98%;
    height: 200px;
  }
}

#price-search-input,
#marketcap-search-input {
  padding-bottom: 0.3rem;
  width: 90%;
  border: none;
  background: none;
  outline: none;
  border-bottom: rgba(236, 236, 236, 0.671) solid;
  color: white;
}

#select-price-list,
#select-marketcap-list {
  padding: 0;
  margin-top: 1rem;
  list-style-type: none;
}

#select-price-list li,
#select-marketcap-list li {
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End of scroll bar styling */

.hidden {
  display: none;
}

.current-stat {
  color: black;
}

.symbol-wrapper {
  position: absolute;
  padding: 0rem 0.7rem 0rem 0.7rem;
  left: 0.2rem;
  top: 0.24rem;
  height: 80%;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: white;
  background-color: #131313;
  border-radius: 16px;
  cursor: pointer;
}

#price-currency-symbol,
#marketcap-currency-symbol {
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.convert-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
}

.convert-btn-wrapper {
  padding: 0.4rem 0rem 0.4rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  word-break: break-word;
  border: 0;
}

.convert-btn-wrapper i {
  margin-right: 0.5rem;
}

.total-container {
  padding: 1rem;
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .calculator {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url('https://wallpaperaccess.com/full/1155023.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .calculator {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calculator {
    width: 40%;
  }
}

@media (min-width: 1536px) {
  header {
    max-width: 1200px;
  }

  .calculator {
    width: 30%;
  }
}
